/* common styles */
.poppins-font{
    font-family: "Poppins", sans-serif;
}
.display-flex{
    display: flex;
}
.vh-center{
    justify-content: center;
    align-items: center;
}

/*Navbar styles*/
.navbar-options{
    width: 463;
    height: 36px;
    gap: 34px;
}
.option{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}
.navbar{
    width: 100%;
    /* justify-content: space-between; */
}
.navbar-title{
    margin-right: 494px;
}

/*banner styles*/
.banner-text{
    width: 582px;
    height: 270px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-btn{
    background-color: rgba(224, 44, 109, 1);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 41px;
    gap: 8px;
    padding: 10px 24px;
}
.pn{
    margin-right: 8px;
}
.banner{
    justify-content: space-around;
    margin-top: 50px;
}
.banner-photo{
    background-image: url('images/Circle\ design.svg');
    max-height: 475px;
    max-width: 475px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}
.img1{
    max-width: 100%;
    height: auto;
}

/*Media query for small device */
@media screen and (max-width: 576px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .banner-title{
        font-size: 28px;
        color: rgba(58, 58, 58, 1);
    }
    .navbar-options{
        display: none;
    }
}